body{
	background:black;
}
.wrapper{
	width:960px;
	margin: 0 auto;
}

h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: 700;
	color: white;
}
header{
	height:150px;
	overflow:auto;
	margin: 0 auto;
	text-align: center;
	vertical-align: center;
	line-height: 200%;
}
header img{
	max-width:100%;
	max-height:100%;
}
footer{
	width:100%;
	text-align: center;
	clear: both;
}
.leftSide{
	border:3px solid white;
	width:49%;
	height: 400px;
	color:white;
}

.left-image{
	width:100%;
}

.rightSide{
	border:3px solid white;
	width:49%;
	height: 400px;
	color:white;
	text-align: center;
}

.game{
	color:white;
}

.right{
	float:right;
}
.left{
	float:left;
}
.clearfix{
	clear:both;
}